@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    padding: 20px 100px;
    height: 30vh;
    background-color: #D7D7D7;
}

section {
    padding: 20px 100px;
}

.logo {
    text-align: center;

}

.logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.nav {
    margin-top: 30px;
    text-align: center;
}

.nav a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 500;
    margin-right: 10px;
}

.video {
     padding: 0;
    text-align: center;
}

video {
    height: 50vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
}

.vision {
    /* height: 50vh; */
    background-color: #D7D7D7;
    justify-content: center;
    align-items: center;
   
}

.vision h2 {

    margin-bottom: 20px;
}

table {
    width: 100%;
    height: 30vh;
}

table,
th,
td,tr {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

.table h2 {
    margin-bottom: 20px;
}

.map{
    align-items: center;
    text-align: center;
    justify-content: center;
}
.map h2{
    margin-bottom: 20px;
}
.map iframe{
    width: 100%;
}
footer{
    padding: 20px 100px;
    text-align: center;
}
footer img{
    width: 50px;
    height: 50px;
}





.callback {
    position: relative;
    width: 100%;
    height: 70vh;
    display: flex;
    padding: 0px;
    background: #222222; 
}

.callback .callcontent {
    width: 50%;
    background: #222222; 
    padding: 50px;
    text-align: center;
}

.callback h2 {
    font-weight: 500;
    position: relative;
    color: #f7f7f7;
}

form{
    justify-content: center;
    text-align: center;
    align-items: center;
}

form input {
    height: 50px;
    width: 100%;
    outline: none;
    display: inline;
    color: #f7f7f7;
    background: #212025;
    margin-top: 50px;
    border: solid #fff;
    padding-left: 10px;
    font-size: 15px;

}

form textarea {
    height: 200px;
    width: 100%;
    outline: none;
    display: inline-block;
    color: #f7f7f7;
    background: #212025;
    margin-top: 50px;
    border: solid #fff;
    padding-left: 10px;
    font-size: 15px;

}

form button {
    padding: 15px;
    background: #d4c680;
    color: #f7f7f7;
    font-size: 15px;
    border: 0;
    cursor: pointer;
    outline: none;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;

}



.callback .imgbx {
    background: url(photo/call.png);
    width: 50%;
    margin-left: 40px;
    background-size: cover;
    background-position: center;
    object-fit: cover;

}

